<!-- BREADCRUMBS-->
<span>
  <div class="ui basic label">
    <a href="/edit">
      <i class="settings icon"></i> Редагувати сировину</a>
  </div> >
  <div class="ui basic label">
    <a href="/edit/{{ raw.id }}"> {{ raw.name }}</a>
  </div>
</span>

<div class="ui raised segment">
  <h2 class="ui header">Редагувати сировину</h2>
  <h3 class="ui header">#{{ raw.article }}</h3>
  <form [formGroup]="editForm" (ngSubmit)="onSubmit()" class="ui form">
    <div class="field">
      <label for="rawArticle">Артикул</label>
      <input type="text" id="rawArticle" placeholder="{{ raw.article }}" [formControl]="editForm.controls['article']">
      <div *ngIf="article.hasError('minlength') && !article.pristine" class="ui pointing red basic label">
        Недопустиме значення! Введіть артикул формату "АБВ00001".
      </div>
    </div>
    <div class="field">
      <label for="name">Назва</label>
      <input type="text" id="rawName" placeholder="{{ raw.name }}" [formControl]="editForm.controls['name']">
      <div *ngIf="name.hasError('minlength') && !name.pristine" class="ui pointing red basic label">
        Поле "Назва" не має бути пустим!
      </div>
    </div>
    <div class="field">
      <label for="limit">Ліміт</label>
      <input type="text" id="limit" placeholder="{{ raw.limit }}" [formControl]="editForm.controls['limit']">
      <div *ngIf="limit.hasError('minlength') && !limit.pristine" class="ui pointing red basic label">
        Поле "Ліміт" не має бути пустим!
      </div>
    </div>

    <div *ngIf="!saved" class="ui teal message">
      <i class="write icon"></i>
      Заповніть принаймні одне поле
    </div>
    <div *ngIf="saved" class="ui green message">
      <i class="send icon"></i>
      Зміни збережено!
    </div>
    <div *ngIf="!editForm.valid" class="ui message negative">
      <i class="warning sign icon"></i>
      Форма заповнена некоректно!
    </div>
    <button class="ui positive button" type="submit" [disabled]="!editForm.valid">Зберегти</button>
    <button class="ui negative button" (click)="delete()">Видалити</button>
  </form>
</div>

<div class="ui raised segment">
  <div *ngIf="raw">
    <h2>Поточне значення</h2>

    <table class="ui green selectable celled table">
      <thead>
        <th>Показник</th>
        <th>Значення</th>
      </thead>
      <tbody>
        <tr>
          <td>Назва</td>
          <td>{{ raw.name }}</td>
        </tr>
        <tr>
          <td>Артикул</td>
          <td>{{ raw.article }}</td>
        </tr>
        <tr>
          <td>Ліміт</td>
          <td>{{ raw.limit }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>