<!-- BREADCRUMBS-->
<span>
  <div class="ui basic label">
    <a href="/show">
      <i class="money icon"></i> Статистика та перегляд</a>
  </div> >
  <div class="ui basic label" *ngIf="raw">
    <a href="/edit/{{ id }}"> {{ raw.name }}</a>
  </div>
</span>

<h2 *ngIf="raw">{{ raw.name }}</h2>

<div class="ui segment" *ngIf="raw">
  <table class="ui orange table celled">
    <thead>
      <th class="eight wide center aligned">Попит</th>
      <th class="eight wide center aligned">Ціна</th>
    </thead>
    <tbody>
      <tr>
        <td>
          <div class="ui raised segment wrapper graph" *ngIf="raw" id="priceStats">
            <div class="ui ribbon label" [class.blue]="raw.status" [class.white]="!raw.status">
              <i class="star icon"></i>
            </div>
            <chart [options]="needOptions"></chart>
          </div>
        </td>
        <td>
          <div class="ui raised segment wrapper graph" *ngIf="raw" id="needStats">
            <div class="ui right ribbon label" [class.red]="item.actualPrice <= item.prognosedPrice" [class.green]="item.actualPrice > item.prognosedPrice">
              <i class="thumbs down icon" *ngIf="item.actualPrice <= item.prognosedPrice"></i>
              <i class="thumbs outline up icon" *ngIf="item.actualPrice > item.prognosedPrice"></i>
              {{ item.prognosedPrice }}
            </div>
            <chart [options]="priceOptions"></chart>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="ui raised segment" *ngIf="raw">
  <div *ngIf="raw">
    <h4>Деталі</h4>
    <table class="ui orange selectable celled table">
      <thead>
        <th>Показник</th>
        <th>Значення</th>
      </thead>
      <tbody>
        <tr>
          <td>Артикул</td>
          <td>{{ raw.article }}</td>
        </tr>
        <tr>
          <td>Ліміт</td>
          <td>{{ raw.limit }}</td>
        </tr>
        <tr>
          <td>Статус</td>
          <td>{{ raw.status }}</td>
        </tr>
        <tr>
          <td>Кількість</td>
          <td>{{ raw.quantity }}</td>
        </tr>
        <tr>
          <td>Прогнозована потреба</td>
          <td>{{ raw.prognosedNeed }}</td>
        </tr>
        <tr>
          <td>Прогнозована ціна</td>
          <td>{{ raw.prognosedPrice }}</td>
        </tr>
        <tr>
          <td>Фактична ціна</td>
          <td>{{ raw.actualPrice }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
