<!-- BREADCRUMBS -->
<span>
  <div class="ui label">
    <a href="/edit">
      <i class="settings icon"></i> Редагувати сировину</a>
  </div>
</span>

<h2 class="right">Сировини</h2>

<table class="ui orange selectable celled table">
  <thead>
    <tr>
      <th>Сировина</th>
      <th>Дата останнього редагування</th>
      <th>Користувач</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of data">
      <td>
        <a [routerLink]="['/edit', item.id]">{{ item.name }}</a>
      </td>
      <td>{{ parseDate(item.updatedAt) }}</td>
      <td>{{ parseUser('serhii.kocherezhko@outlook.com') }}</td>
      <td class="collapsing">
        <div class="ui fitted checkbox">
          <a [routerLink]="['/edit', item.id]">
            <i class="setting icon"></i>
          </a>
        </div>
      </td>
    </tr>
  </tbody>
</table>
